<?xml version="1.0"?>
<configuration>
	<system.web>
		<compilation debug="true" strict="false" explicit="true" targetFramework="4.0"/>
		<httpRuntime/>
	</system.web>
	<system.webServer>
		<staticContent>
			<mimeMap fileExtension =".json" mimeType ="application/json"/>
		</staticContent>
	</system.webServer>
</configuration>